@(myForm: play.data.Form[hexagon.Product])

@main("Create product") {
    @helper.form(action = routes.Products.create(), 'enctype -> "multipart/form-data") {
        <div class="madiv">
            <div class="container">
                <div class="col-md-6">
                    <fieldset>
                        @helper.CSRF.formField
                        @helper.inputText(myForm("ean"))
                        @helper.inputText(myForm("name"))
                        @helper.inputText(myForm("description"))
                        @helper.inputFile(myForm("picture"))
                    </fieldset>
                    <input type="submit">
                </div>
            </div>
        </div>
    }
}