@(myForm: Form[Product])

@main("New Product"){

    @if(flash.get("successAdded")){
        <div>@flash.get("successAdded")</div>
    }

    <div class="jumbotron">
        <h1>@Messages("product.add")</h1>
    @helper.form(action = helper.CSRF(routes.ProductsController.submitNewProduct())) {
        <div class="form-group">
        @helper.input(myForm("Product name")){ (id, name, value, args) =>
            <input type="text" class="form-control" placeholder="Product name" id="@id" @toHtmlArgs(args)>
        }
        </div>
        <div class="form-group">
        @helper.input(myForm("Description")){ (id, name, value, args) =>
            <input type="text" class="form-control" placeholder="Description" id="@id" @toHtmlArgs(args)>
        }
        </div>
        <button type="submit" class="btn btn-primary">@Messages("product.createform_submit")</button>
        @for(error <- myForm("ean").errors()){
            <div></div>
        }
    }
    </div>

}