
@(message: String)

@main("Welcome to Play") {

    <h1>@message</h1>

    <a href="@routes.Products.list()"> see the list of products</a><br>
    <a href="@routes.Products.newProduct()"> add new product</a><br>
    <a href="@routes.ImageController.testDownloadImageMessage()"> test download image</a><br>
    <a href="@routes.ImageController.testUpdateProductMessage()"> test update match product and image</a><br>
    <a href="@routes.Products.allDescriptionOrdered()"> all description ordered</a><br>


}
