@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@
@(title: String)(content: Html)


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
            <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">


        <title>Hikea catalog</title>

            <!-- Bootstrap core CSS -->
        <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
            <!-- Bootstrap theme -->
        <link href="http://getbootstrap.com/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">


            <!-- Custom styles for this template -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
            <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->

        <script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>

            <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
            <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    </head>
    <body>

        <div class="container">
            <div class="col-md-12 col-lg-12 col-xs-12">
                @* And here's where we render the `Html` object containing
                * the page content. *@
                <ul class="nav nav-tabs">
                    <li role="presentation" ><a href="@routes.HomeController.index">Home</a></li>
                    <li role="presentation" ><a href="@routes.ProductsController.list()">Show all products</a></li>
                    <li role="presentation" ><a href="@routes.ProductsController.searchPageBlank">Search product</a></li>
                </ul>


                <div class="jumbotron">
                    <div class="main">
                    @content
                    </div>
                </div>

            </div>
        </div>
    </body>


        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="@routes.Assets.versioned("js/bootstrap.min.js")"></script>


</html>