@(listResults : Seq[Map[String, AnyRef]],wordSearched : String)(implicit messages: play.api.i18n.Messages, request: RequestHeader)



@import helper._









@main("Top 10"){
  <div class="container theme-showcase" role="main">
    <h1>Search functions</h1>

    @*   @if(flash.containsKey("success")) {
    <div class="alert alert-success" role="alert">
    @flash.get("success")
    </div>
    }*@



    We searched for @wordSearched.

    <table class="table table-striped">
      <thead>
        <tr>
          <th>description</th>
          <th>number of instances</th>
      </thead>
      <tbody>
      @listResults.map{prod=>
        <tr>
          <td>@prod.get("key")</td>
          <td>@prod.get("doc_count")</td>


          @*   <td><a href="@routes.Products.details(prod.ean)" class="btn btn-primary" value="edit">
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</a>
          <a href="@routes.Products.deleteProd(prod.ean)" class="btn btn-danger" value="edit">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> </a></td> *@
        </tr>
      }
      </tbody>
    </table>
  </div>
}

