/*
body, html {
    height: 100%;
    background: url("/assets/images/latest-home-wallpaper_015623955_147.jpg") no-repeat fixed;
    background-size: cover;
}

.product-main-block {
    background-color: rgba(100%, 100%, 100%, 0.8);

}*/
